:root {
  --z-base: 0;
  --z-footer: 100;
  --z-medal-settings-panel: 200;

  --footer-height: 64px;
  --footer-width: 420px;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #0a073f;
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}