/* =========================================================
   RoleIcon Components
   ========================================================= */
.role-icon {
  position: relative;
  display: inline-block;
  transform: translateY(1px);
}

.role-icon-base {
  width: 100%;
  height: 100%;
  display: block;
}

.role-icon-front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
}