---
import '../styles/footer.css';
import RoleIcon from './RoleIcon.astro';
import MedalSettingsPanel from "./MedalSettingsPanel.astro";

import { HeroRoleType } from "./types/heros";
import { ImageAsset } from '../types/common';
import { getAllHero } from "../accessors/heros/getData.ts";
import { getImageAssetById } from "../accessors/common/getData.ts";

const SETTING_MEDAL_IMAGE_PATH = `/CompassDeckSimulator/${getImageAssetById(ImageAsset.SETTING_MEDAL).imagePath}`;
---
<footer class="footer">
  <div class="footer-content">
    <div class="dropdown-wrapper">
      <!-- ヒーロー選択ドロップダウン -->
      <div class="dropdown">
        <button id="dropdown-trigger" class="dropdown-trigger">
          <span class="trigger-content">ヒーローを選択してね</span>
          <span class="dropdown-trigger-arrow" />
        </button>
        <ul class="dropdown-menu">
          {getAllHero().map((hero) =>(
            <button class="dropdown-item" type="button">
              <RoleIcon role={hero.heroRoleId} />
              <span>{hero.label}</span>
            </button>
          
          ))} 
        </ul>
      </div>
      <!-- 詳細設定アイコン -->
      <button class="medalSetting" id="medal-settings-trigger">
        <img src= {SETTING_MEDAL_IMAGE_PATH} width="32" height="32" />
      </button>
    </div>
  </div>
</footer>

<!-- ヒーロー選択ドロップダウン -->
<script>
  const dropdown = document.querySelector('.dropdown');
  const trigger = dropdown.querySelector('.dropdown-trigger');
  const menu = dropdown.querySelector('.dropdown-menu');
  const triggerLabel = document.querySelector('.trigger-content');
  const items = document.querySelectorAll('.dropdown-item');
  const arrow = trigger.querySelector('.dropdown-trigger-arrow');

  const ARROW_CLOSED = '▼';
  const ARROW_OPEN = '▲';

  arrow.textContent = ARROW_CLOSED;

  // 項目クリックでラベル更新＆閉じる
  items.forEach(item => {
    item.addEventListener('click', () => {
    const label = item.querySelector('span').textContent;
    triggerLabel.textContent = label;
    document.body.classList.remove('dropdown-open');
    arrow.textContent = ARROW_CLOSED;
    menu.classList.remove('is-active');
    });
  });

  // トリガークリックで開閉
  trigger.addEventListener('click', () => {
    menu.classList.toggle('is-active');
    arrow.textContent = menu.classList.contains('is-active') ? ARROW_OPEN : ARROW_CLOSED;
  });

  // メニュー外をクリックしたら閉じる
  document.addEventListener(
    'pointerdown',
    (e) => {
      if (!menu.contains(e.target) && !trigger.contains(e.target)) {
        menu.classList.remove('is-active');
        arrow.textContent = ARROW_CLOSED;
      }
    },
    true
  );
</script>

<!-- 詳細設定アイコン -->
<script>
  const trigger = document.getElementById("medal-settings-trigger");
  const panel = document.getElementById("medal-settings");

 // トリガークリックで開閉
  trigger?.addEventListener("click", (e) => {
    e.stopPropagation();
    trigger?.classList.toggle('is-active');
    panel?.classList.toggle("is-hidden");
  });

    // パネル外クリックで閉じる
  document.addEventListener("click", () => {
    if (!panel?.classList.contains("is-hidden")) {
      trigger?.classList.remove('is-active');
      panel?.classList.add("is-hidden");
    }
  });
</script>