---
import '../styles/footer.css';
import RoleIcon from './RoleIcon.astro';

import { HeroRoleType } from "./types/heros";
import { ImageAsset } from '../types/common';
import { getAllHero } from "../accessors/heros/getData.ts";
import { getImageAssetById } from "../accessors/common/getData.ts";

const SETTING_MEDAL_IMAGE_PATH = `/CompassDeckSimulator/${getImageAssetById(ImageAsset.SETTING_MEDAL).imagePath}`;
---

<footer class="footer">
  <div class="footer-content">
    <div class="dropdown-wrapper">
      <!-- ヒーロー選択ドロップダウン -->
      <div class="dropdown">
        <button id="dropdown-trigger" class="dropdown-trigger">
          <span class="trigger-content">ヒーローを選択してね</span>
          <span class="dropdown-trigger-arrow" />
        </button>
        <ul class="dropdown-menu">
          {getAllHero().map((hero) =>(
          <li>
            <button class="dropdown-item" type="button">
              <RoleIcon role={hero.heroRoleId} />
              <span>{hero.label}</span>
            </button>
          </li>
          ))} 
        </ul>
      </div>
      <!-- 詳細設定アイコン -->
      <div class="displaySetting">
        <img src= {SETTING_MEDAL_IMAGE_PATH} width="32" height="32" />
      </div>
    </div>
  </div>
</footer>

<script>
  const dropdown = document.querySelector('.dropdown');
  const trigger = dropdown.querySelector('.dropdown-trigger');
  const menu = dropdown.querySelector('.dropdown-menu');
  const triggerLabel = document.querySelector('.trigger-content');
  const items = document.querySelectorAll('.dropdown-item');
  const arrow = trigger.querySelector('.dropdown-trigger-arrow');

  const ARROW_CLOSED = '▼';
  const ARROW_OPEN = '▲';

  arrow.textContent = ARROW_CLOSED;

  // 項目クリックでラベル更新＆閉じる
  items.forEach(item => {
    item.addEventListener('click', () => {
    const label = item.querySelector('span').textContent;
    triggerLabel.textContent = label;
    document.body.classList.remove('dropdown-open');
    arrow.textContent = ARROW_CLOSED;
    menu.classList.remove('open');
    });
  });

  // トリガークリックで開閉
  trigger.addEventListener('click', () => {
    menu.classList.toggle('open');
    arrow.textContent = menu.classList.contains('open') ? ARROW_OPEN : ARROW_CLOSED;
  });

  // メニュー外をクリックしたら閉じる
  document.addEventListener('click', (e) => {
    if (!dropdown.contains(e.target)) {
      menu.classList.remove('open');
      arrow.textContent = ARROW_CLOSED;
    }
  });
</script>