---
import '../styles/role-icon.css';
import { HeroRoleType } from "../types/heros";
import { ImageAsset } from '../types/common';
import { getImageAssetById } from "../accessors/common/getData.ts";

const BASE_ICON = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.HEXAGON).imagePath;
const roleIcons: Record<HeroRoleType, string> = {} as const;

roleIcons[HeroRoleType.SPRINTER]  = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.SHOES).imagePath;
roleIcons[HeroRoleType.ATTACKER]  = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.SWORD).imagePath;
roleIcons[HeroRoleType.GUNNER]    = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.WAND_STARS).imagePath;
roleIcons[HeroRoleType.TANK]      = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.SHIELD).imagePath;

const { role, size = 38 } = Astro.props;
---

<div
  class="role-icon"
  style={`width:${size}px; height:${size}px;`}
>
  <img src={BASE_ICON} class="base" alt="" />
  <img src={roleIcons[role]} class="front" alt="" />
</div>